*{
  margin:0;
  padding:0;
}
body{
  background-color:black;
  align-items: center;
  justify-content: center;
  display:flex;
}
.container{
  position: relative;
  margin-top:100px;
  width: 450px;
  height: auto;
  background:#dedede;
  border-radius:5px;
}
.label{
  padding:20px 130px;
  font-size:30px;
  font-weight: bold;
  color:#130f40;
}
.login-form{
  padding:20px 40px;
}
.login-form .font{
  font-size:18px;
  color:#130f40;
  margin:5px 0;
}
.login-form input{
  height: 40px;
  width: 350px;
  padding:0 5px;
  font-size:18px;
  outline: none;
  border:1px solid silver;
}
.login-form .font2{
  margin-top:30px;

}
.login-form button{
  margin: 45px 0 30px 0;
  height: 45px;
  width: 365px;
  font-size:20px;
  color:green;
  outline: none;
  cursor: pointer;
  font-weight:bold;
  border-radius:3px;
  border:1px solid #3949AB;
}

.name_error,
.pass_error{
  text-align:center;
  color:red;
}